.cabecera__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cabecera__buscar__item {
    display: none;
    align-items: center;
    gap: 8px;

    & form {
        display: flex;
        & .buscar__input {
            border-radius: 50px 0 0 50px;
        }
        & .buscar__label {
            border-radius: 0 50px 50px 0;
        }
    }
}

/* Superior section */

.superior__seccion__container {
    display: flex;
    overflow-x: scroll;
    align-items: center;
    gap: 15px;
}

/* ASIDE */

.menu__container {
    position: fixed;
    top: 60px;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    min-height: fit-content;
    bottom: 0;
    top: auto;
    width: 100%;
    z-index: 100;
}

.menu__lista {
    display: flex;
    width: 100%;
    align-items: center;
    gap: 10px;
    justify-content: space-evenly;
}

.menu__lista:nth-child(n+2) {
    display: none;
}

.menu__lista > li {
    display: flex;
    flex-direction: column;
    padding: 5px 5px;
    border-radius: 10px;
    width: 20%;
}

.menu__itens {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

/* FOOTER */

.rodapie__container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
    grid-auto-rows: max-content;
    justify-items: center;
    gap: 35px;
    padding-bottom: 100px;

    & section {
        min-width: 146px;
        text-align: start;
    }
}

@media screen and (min-width: 834px) {
    .cabecera__buscar__item {
        display: flex;
    }

    .menu__container {
        flex-direction: column;
        min-height: calc(100dvh - 60px);
        width: 93px;
        top: 60px;
        justify-content: flex-start;
    }

    .menu__lista {
        flex-direction: column;
        gap: 20px;
    }

    .menu__lista > li {
        padding: 10px 15px;
        text-align: center;
        width: 100%;
    }
    .rodapie__container {
        grid-template-columns: repeat(auto-fit, minmax(145px, 1fr));
        padding-right: 45px;
        gap: 40px;
    }
}

@media screen and (min-width: 1440px) {

    .menu__container {
        width: 245px;
        overflow-y: scroll;
    }
    .menu__lista {
        gap: 10px;
        padding-block: 10px;
    }
    .menu__lista:nth-child(n+2) {
        display: flex;
    }
    .menu__itens {
        display: flex;
        align-items: center;
        flex-direction: row;
    }
}
