.cabecera__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cabecera__buscar__item {
    display: none;
    align-items: center;
    gap: 8px;

    & form {
        display: flex;
        & .buscar__input {
            border-radius: 50px 0 0 50px;
        }
        & .buscar__label {
            border-radius: 0 50px 50px 0;
        }
    }
}

/* Superior section */

.superior__seccion__container {
    display: flex;
    overflow-x: scroll;
    align-items: center;
    gap: 15px;
}

/* ASIDE */

.menu__container {
    position: fixed;
    top: 60px;
    display: none;
}

/* FOOTER */

.rodapie__container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
    grid-auto-rows: max-content;
    padding-right: 35px;
    justify-items: center;
    gap: 35px;


    & section {
        min-width: 146px;
        text-align: start;
    }
}

@media screen and (min-width: 834px) {
    .cabecera__buscar__item {
        display: flex;
    }

    .menu__container {
        display: flex;
        flex-direction: column;
    }

    .rodapie__container {
        grid-template-columns: repeat(auto-fit, minmax(145px, 1fr));
        padding-right: 45px;
        gap: 40px;
    }
}