.submitButton {
  background-color: var(--purple);
  margin-top: 1.5rem;
  color: var(--white);
  padding: 2rem 4rem;
  max-width: fit-content;
  font-family: var(--font-montserrat);
  font-size: 2rem;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: color .2s;

  &:hover {
    color: var(--aqua-green);
  }
}