.card {
  background-color: var(--white);
  border-radius: .8rem;
  box-shadow: 3px 4px 8px #dbdbdb;
  aspect-ratio: 1/1;
  position: relative;
}

.imgContainer {
  height: 8rem;
  display: flex;
  border-radius: .8rem .8rem 0 0;
  justify-content: center;
  align-items: center;
  position: relative;

  & img {
    position: absolute;
    top: 30%;
    border-radius: 50px;
    width: 10rem;
    height: 10rem;
    object-fit: cover;
  }
}

.infoContainer {
  padding: var(--);
  text-align: center;
  margin-top: var(--spacing-6);
  font-family: var(--font-montserrat);

  & h3 {
    font-size: var(--size-2);
    color: var(--purple);
    font-weight: 600;
  }

  & p {
    color: var(--gray-600);
    font-size: var(--size-1);
  }
}

.deleteBtn {
  position: absolute;
  top: -10px;
  right: -10px;
  line-height: 0;
  padding: 5px;
  aspect-ratio: 1 / 1;
  border-radius: 50px;
  border: none;
  font-size: 30px;
  background: var(--gray-600);
  color: var(--gray-50);
  transform: rotate(45deg);
  display: grid;
  place-content: center;
  opacity: .85;
  cursor: pointer;
}